input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=email]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=radio]{

    padding: 12px 20px;
    margin-left: 6px;
    margin-right:2px;
    box-sizing: border-box;
  }

.form-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 2px;
}

.form-element{
    padding: 4px;
}

form.nosubmit {
    border: none;
    padding: 0;
    display: flex;
      justify-content: center;
      padding: 16px;
  }
  
  input.nosubmit {
      
      height: 48px;
      border-radius: 4px;
    width: 260px;
    border: 1px solid #555;
    padding: 9px 4px 9px 40px;
    background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
  }

  .search-area{
      display: flex;
      flex-direction: row;
      border-top: whitesmoke;
      border-top-style: solid;

      border-bottom: whitesmoke;
      border-bottom-style: solid;
      padding: 4px;
}

  .filters{
         border-right:whitesmoke; 
         padding:0 8px ;
         border-right-style: solid;
         width:20%;
}

.results{
    padding:0 8px ;
    width: 95%;
}

a{
    padding-left: 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background-color: white;
  padding: 2px 16px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  cursor: pointer;
}

 .map-container {
  height: 300px;
  width: 300px;
  padding: 30px;
}

.result{
  display: flex;
  padding: 8px;
  border-bottom: 4px solid whitesmoke;
}
.result>*{
  flex: 0 0 33.3333%;
}

.view-buttongroup{
  display: flex;
  flex-direction: column;
}
